<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatting.dao.IUserDao">
    <select id="getUserByUsername" resultType="com.chatting.model.User">
        select * from user where username = #{username};
    </select>
    <select id="getUserByUuid" resultType="com.chatting.model.User">
        select uuid, username, img_url from user where uuid= #{uuid};
    </select>
    <select id="getFriendByUuid" resultType="com.chatting.model.User">
        select * from friend where uuid_first
    </select>
</mapper>